html,
body,
.app{
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.addIcon{
  cursor: pointer;
}

.input__icon {
  border-top-right-radius: 0 !important;
  border-left-color: transparent !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.button__icon {
  border-top-right-radius: 0 !important;
  font-size: 1em !important;
}